/* Gradiente no background com cores compatíveis com azul */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #1e3c72, #2a5298); /* Gradiente de azul escuro */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container centralizado */
.container {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 400px; /* Ajuste o tamanho conforme necessário */
  max-width: 100%;
}

/* Cabeçalhos com cor azul */
h1, h2, h3 {
  color: #1e3c72;
  text-align: center; /* Centraliza o texto */
}

/* Inputs e botões */
input, textarea {
  font-size: 1rem;
  width: 100%; /* Garantir que os inputs ocupem todo o espaço do container */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

/* Logout button estilizado */
.logout-button {
  background-color: #ff4b5c;
  margin-top: 20px;
}

.logout-button:hover {
  background-color: #e04352;
}

.project-item {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
